@import 'variables';
@mixin button( $_color_1_h, $_color_1_s, $_color_1_l, $_color_2_h, $_color_2_s, $_color_2_l) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background-blend-mode: darken;
    box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
    transition: all ease-in-out 0.3s;
    color: #fff;
    background: linear-gradient( 90deg, hsl($_color_1_h, $_color_1_s, $_color_1_l) 2.61%, hsl($_color_2_h, $_color_2_s, $_color_2_l) 112.6%);
    @media (max-width: 767px) {
        width: 100%;
        border-radius: 0px;
    }
    &:hover {
        background: linear-gradient( 90deg, hsl($_color_1_h, $_color_1_s, ($_color_1_l - 10)) 2.61%, hsl($_color_2_h, $_color_2_s, ($_color_2_l - 10)) 112.6%);
    }
    &:active {
        background: linear-gradient( 90deg, hsl($_color_1_h, $_color_1_s, ($_color_1_l - 20)) 2.61%, hsl($_color_2_h, $_color_2_s, ($_color_2_l - 20)) 112.6%);
    }
    &:focus-visible {
        background: linear-gradient( 90deg, hsl($_color_1_h, $_color_1_s, ($_color_1_l - 10)) 2.61%, hsl($_color_2_h, $_color_2_s, ($_color_2_l - 10)) 112.6%);
        outline: none;
    }
    &:disabled {
        background: $color_gray_light;
        cursor: auto;
    }
}

@mixin button_default {
    @include button( $color_1_h_button, $color_1_s_button, $color_1_l_button, $color_2_h_button, $color_2_s_button, $color_2_l_button);
}

@mixin button_cansel {
    @include button( $color_1_h_button_cansel, $color_1_s_button_cansel, $color_1_l_button_cansel, $color_2_h_button_cansel, $color_2_s_button_cansel, $color_2_l_button_cansel);
}

@mixin lnk {
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

@mixin link_dark {
    @include lnk();
    color: $color_main_black;
    &:hover,
    &:active {
        color: $color_main_accent;
    }
    &:disabled {
        color: $color_gray_light;
    }
}

@mixin link_light {
    @include lnk();
    color: $color_gray_light;
    &:hover,
    &:active {
        color: $color_main_accent;
    }
    &:disabled {
        color: $color_gray_light;
    }
}

@mixin link_accent {
    @include lnk();
    color: $color_main_accent;
    &:hover {
        color: $color_gray_light;
    }
    &:active {
        color: #fff;
    }
    &:disabled {
        color: $color_gray_light;
    }
}

@mixin svg_white {
    @include lnk();
    fill: $color_gray_light;
    &:hover,
    &:active {
        fill: $color_main_accent;
    }
    &:disabled {
        fill: $color_gray_light;
    }
}

@mixin radio_input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:not(:disabled):not(:checked)+div:hover::before {
        border-color: $color_main_accent;
    }
    &:not(:disabled):active+div::before {
        background-color: $color_gray_light;
    }
    &:focus+div::before {
        box-shadow: 0 0 0 0.2rem $color_gray_light;
    }
    &:focus:not(:checked)+div::before {
        border-color: $color_main_accent;
    }
    &:checked+div::before {
        border: 3px solid $color_main_accent;
    }
    &:checked+div {
        color: $color_main_black;
    }
    &:checked+div:hover {
        color: $color_main_accent;
    }
}

@mixin radio_label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color_gray_dark;
    &:hover {
        color: $color_main_accent;
    }
    &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $color_gray_dark;
        border-radius: 6px;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
}

@mixin checkbox_input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:not(:disabled):not(:checked)+div:hover::before {
        border-color: $color_main_accent;
    }
    &:not(:disabled):active+div::before {
        background-color: $color_gray_light;
    }
    &:focus+div::before {
        box-shadow: 0 0 0 0.2rem $color_gray_light;
    }
    &:checked+div::before {
        border: 1px solid $color_main_accent;
    }
    &:checked+div::after {
        position: absolute;
        content: '';
        width: 13px;
        height: 10px;
        left: 2px;
        bottom: 4px;
        background-image: url(../assets/icons/check-mark.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &:checked+div {
        color: $color_main_black;
    }
    &:checked+div:hover {
        color: $color_main_accent;
    }
}

@mixin checkbox_label {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    align-items: center;
    user-select: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color_gray_dark;
    &:hover {
        color: $color_main_accent;
    }
    &::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $color_gray_dark;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: 2px -2px;
        background-size: 100% 100%;
    }
}