@import 'variables';
@mixin button ($_color_1_h, $_color_1_s, $_color_1_l, $_color_2_h, $_color_2_s, $_color_2_l) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background-blend-mode: darken;
    box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
    transition: all ease-in-out 0.3s;
    color: #fff;
    background: linear-gradient(90deg, hsl($_color_1_h, $_color_1_s, $_color_1_l) 2.61%, hsl($_color_2_h, $_color_2_s, $_color_2_l) 112.6%);
    @media (max-width: 767px) {
        width: 100%;
        border-radius: 0px;
    }
    &:hover {
        background: linear-gradient(90deg, hsl($_color_1_h, $_color_1_s, ($_color_1_l - 10)) 2.61%, hsl($_color_2_h, $_color_2_s, ($_color_2_l - 10)) 112.6%);
    }
    &:active {
        background: linear-gradient(90deg, hsl($_color_1_h, $_color_1_s, ($_color_1_l - 20)) 2.61%, hsl($_color_2_h, $_color_2_s, ($_color_2_l - 20)) 112.6%);
    }
    &:focus-visible {
        background: linear-gradient(90deg, hsl($_color_1_h, $_color_1_s, ($_color_1_l - 10)) 2.61%, hsl($_color_2_h, $_color_2_s, ($_color_2_l - 10)) 112.6%);
        outline: none;
    }
    &:disabled {
        background: $color_gray_light;
        cursor: auto;
    }
}

@mixin button_default {
    @include button($color_1_h_button, $color_1_s_button, $color_1_l_button, $color_2_h_button, $color_2_s_button, $color_2_l_button)
}

@mixin lnk {
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

@mixin link_dark {
    @include lnk();
    color: $color_main_black;
    &:hover,
    &:active {
        color: $color_main_accent;
    }
    &:disabled {
        color: $color_gray_light;
    }
}

@mixin link_light {
    @include lnk();
    color: $color_gray_light;
    &:hover,
    &:active {
        color: $color_main_accent;
    }
    &:disabled {
        color: $color_gray_light;
    }
}

@mixin link_accent {
    @include lnk();
    color: $color_main_accent;
    &:hover {
        color: $color_gray_light;
    }
    &:active {
        color: #fff;
    }
    &:disabled {
        color: $color_gray_light;
    }
}

@mixin svg_white {
    @include lnk();
    fill: $color_gray_light;
    &:hover,
    &:active {
        fill: $color_main_accent;
    }
    &:disabled {
        fill: $color_gray_light;
    }
}