$color_main_accent: hsl(148, 87%, 41%);
$color_main_black: #121212;
$color_gray_dark: #999999;
$color_gray_light: #eeeeee;
// ***button default gradient color (hsl)***
$color_1_h_button: 148;
$color_1_s_button: 87;
$color_1_l_button: 41;
$color_2_h_button: 158;
$color_2_s_button: 96;
$color_2_l_button: 32;