@import '../../styles/variables';
@import '../../styles/mixins';
.mainContainer {
    display: flex;
    width: 100%;
}

.mainContainer__sideBarBlock {}

.mainContainer__content {
    display: flex;
    flex: 1 0 auto;
}

.content__mainBlock {
    width: 50%;
    padding: 32px 64px 32px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainBlock_heroBlock {
    height: 373px;
    .heroBlock__caption {
        font-weight: bold;
        font-size: 70px;
        line-height: 66px;
        text-align: bottom;
        margin-bottom: 4px;
    }
    .heroBlock__title {
        font-weight: bold;
        font-size: 70px;
        line-height: 66px;
        color: $color_main_accent;
        text-align: bottom;
        margin-bottom: 34px;
    }
    .heroBlock__descrption {
        font-weight: 300;
        font-size: 26px;
        line-height: 30px;
        color: $color_gray_dark;
        margin-bottom: 66px;
    }
    .heroBlock__button {
        @include button_main;
        width: 250px;
    }
}

.content__sliderBlock {
    width: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    mix-blend-mode: normal;
}