@import '../../../styles/variables';
@import '../../../styles/mixins';
.contentBlock {
    display: flex;
    min-height: 100%;
    width: 100%;
    @media (max-width: 1023px) {
        flex-wrap: wrap;
    }
    &__currentData {
        flex: 1 1 auto;
        padding: 32px 0 0;
        @media (max-width: 1023px) {
            width: 100%;
        }
        @media (max-width: 767px) {
            padding: 16px 16px 0 16px;
        }
    }
    &__allOrderData {
        height: 100%;
        width: 320px;
        padding: 32px 0 0 32px;
        border-left: 1px solid $color_gray_light;
        @media (max-width: 1023px) {
            width: 100%;
            padding: 32px 0 0;
            border: none;
            height: auto;
        }
    }
}

.carClassContainer {
    margin-bottom: 45px;
    display: inline-flex;
    border: none;
}

.carClass {
    display: flex;
    margin-right: 16px;
    border: none;
    &__input {
        @include radio_input;
    }
    &__label {
        @include radio_label;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    max-height: calc(100vh - 228px);
    min-height: 224px;
    max-width: 736px;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    @media (max-width: 1282px) {
        width: calc(100% - 32px);
        max-width: none;
    }
    @media (max-width: 1023px) {
        width: 100%;
    }
}