@import '../../styles/variables';
@import '../../styles/mixins';
.container {
    width: 100%;
    @media (max-width: 767px) {
        padding: 0 16px;
    }
}

.linksList {
    display: flex;
    width: 100%;
    @media (max-width: 480px) {
        display: block;
    }
    &__item {
        display: flex;
        & .item__svg {
            margin: 0 16px;
            @media (max-width: 480px) {
                display: none;
            }
        }
        &:first-child .item__svg {
            display: none;
        }
        & .item__link {
            @include link_dark;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            height: 32px;
            display: flex;
            align-items: center;
        }
        & .item__link_active {
            color: $color_main_accent;
        }
        & .item__link_disable {
            color: $color_gray_dark;
            cursor: auto;
            &:hover {
                color: $color_gray_dark;
            }
        }
    }
}