@import '../../styles/variables';
@import '../../styles/mixins';
.container {
    width: 100%;
}

.wrap {
    width: 100%;
    @media (max-width: 767px) {
        padding: 0 16px;
    }
}

.title {
    width: 100%;
    margin-bottom: 26px;
    &Text {
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: right;
    }
}

.dataList {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
    &__item {
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        & .item__name {
            flex: 1 0 auto;
            display: block;
            max-width: 55%;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: $color_main_black;
            padding-right: 4px;
        }
        & .item__dots {
            flex: 0 1 auto;
            overflow: hidden;
            &::before {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: clip;
                content: '.................................................................................................................................';
            }
        }
        & .item__value {
            flex: 1 0 auto;
            display: block;
            max-width: 40%;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            text-align: right;
            color: $color_gray_dark;
            padding-left: 4px;
        }
    }
}

.price {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 32px;
}

.button {
    @include button_default;
    width: 100%;
    margin-bottom: 32px;
    @media (max-width: 1023px) {
        max-width: 320px;
    }
    @media (max-width: 767px) {
        max-width: none;
        width: 100%;
    }
}